body{
    overflow-x: hidden;
    font-family:Arial, Helvetica, sans-serif;
}

.uppertab{
    overflow-y: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    border: 1px solid black;
    width: 1600px;
    height: 55px;
    background-color: black;
    z-index: 2;
}
#envatoimg{
    position: relative;
    top: 20px;
    left: 20px;
    width: 150px;
}

.buynow{
    border: solid rgb(119, 177, 32);
    background-color: rgb(119, 177, 32);
    padding: 5px;
    width: 80px;
    position: relative;
    left: 1400px;
    bottom: 11px;
    text-align: center;
    border-radius: 3px;
    font-size: 90%;
}

.buynow:hover{
    opacity: 95%;
}
#buynow{
    text-decoration: none;
    color: white;
}

.navbar{
    height: 20px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 55px;
    border-bottom: solid 1px rgb(243, 237, 204); 
    padding: 30px;
    background-color: white;
    z-index: 2;
}

.first_content{
    position: absolute;
    top: 10px;
    left: 750px;
}



/*lower navbar*/

.navbar a {
float: left;
font-size: 15px;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
padding-left: 20px;
}

.navbar a:hover{
   color: rgb(163, 142, 21); 
}

.dropdown {
float: left;
overflow:hidden;
font-size: 15px;
}

.dropbtn {
font-size: 20px;  
border: none;
outline: none;
color: black;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
font-weight: bold;
font-size: 15px;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #fff;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;

}
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.dropdown-content a:hover {
margin-left: 3px;
background-color: white;
color: rgb(163, 142, 21);
}
.dropdown:hover .dropdown-content {
display: block;
}


.arch_logo{
    position: absolute;
    top: -80px;
    left: 200px;
}

#archo_logo{
    left: 50px;
    width: 200px;
}

.socialmedia{
    position: absolute;
    top: 22px;
    left: 1180px;
    border-left: 1px solid gray;
    height: 20px;
    border-right: 1px solid gray;
    width: 130px;
}

.socialmedia img{
    position: absolute;
    top: 2px;
    width: 15px;
    height: 15px;
}

#search_img{
    position: absolute;
    top: 25px;
    left: 1325px;
    width: 15px;
}






.about_content{
    width: 1520px;
}


/*First page*/

.about_firstpage{
    position: absolute;
    top: 0px;
    left: 0px;
}

#about_firstimg{
    width: 1520px;
    height: 600px;
    filter: brightness(30%);
}

.about_firsttxt{
    position: absolute;
    top: 200px;
    left: 600px;
}

#about_us{
    font-size: 450%;
    font-weight: bold;
    color: white;
    line-height: 0px;
}

#about_home{
    position: relative;
    left: 80px;
    font-size: 110%;
    color: white;
}

#about_us1{
    position: relative;
    top: -38px;
    left: 160px;
    color: rgb(228, 203, 66);
    font-size: 110%;
}



/*Achievement Page*/


.about_achievement{
    width: 1520px;
    position: absolute;
    top: 700px;
    left: 200px;
}

.about_achievement img{
    width: 200px;
    height: 130px;
    padding: 30px;
}

.achievement_txt{
    width: 520px;
    position: absolute;
    top: 20px;
    left: 600px;
}

#achievement_txt{
    line-height: 30px;
    color: gray;
}





/*Feature Page*/


.about_features{
    position: absolute;
    top: 1150px;
    width: 1520px;

}

#about_wall_img{
    width: 100%;
    height: 500px;
}

.about_play_button{
    position: absolute;
    top: 150px;
    left: 700px;
}


.play-button-outer {
  margin: 25% auto;
  width: 6.5em;
  height: 6em;
  background-color: rgba(121, 120, 120, 0.541);
  border-radius: 50%;
  cursor: pointer;
  padding-left: 8px;
  padding-top: 15px;
}


.play-button {
  margin: 0 auto;
  top: 25%;
  position: relative;  
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1em 0 1em 2em;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.575);
  opacity: .75; 

}

.play-button-outer:hover {
  background-color: rgba(255, 255, 255, 0.849);
}

.play-button-outer:hover .play-button {
  opacity: 1;
}

.about_sel_feat{
    position: absolute;
    top: 70px;
}

.select_features{
    position: absolute;
    top: 290px;
    left: 200px;
}

.architecture01{
    border: 1px solid rgb(163, 142, 21);
    background-color: white;
    width: 280px;
    height: 390px;
}
.architecture01:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("interior.jpg");
    background-position: left;
}
.architecture02{
    position: absolute;
    top: 0px;
    left: 280px;
    border: 1px solid rgb(163, 142, 21);
    background-color: white;
    width: 280px;
    height: 390px;

}

.architecture02:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("interior.jpg");
    background-position: -220px;
    
}

.architecture03{
    position: absolute;
    top: 0px;
    left: 560px;
    border: 1px solid rgb(163, 142, 21);
    background-color: white;
    width: 280px;
    height: 390px;
    
}

.architecture03:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("interior.jpg");
    background-position: -450px;
    
}

.architecture04{
    position: absolute;
    top: 0px;
    left: 840px;
    border: 1px solid rgb(163, 142, 21);
    background-color: white;
    width: 280px;
    height: 390px;
    
}

.architecture04:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("interior.jpg");
    background-position: -700px;
    
}

#num1{
    position: relative;
    top: 55px;
    left: 30px;
    font-size: 300%;
    color: rgb(163, 142, 21);
}

#hovarch_text{
    text-decoration: none;
    color: black;
    
}

#arch_text1{
    position: relative;
    top: 65px;
    left: 30px;
}

#hovarch_text:hover{
    color: white;
}

#cras{
    position: relative;
    top: 70px;
    left: 30px;
    width: 200px;
    color: grey;
}

#feature_read1{
    position: relative;
    top: 90px;
    left: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}



/*Progress page*/


.about_progress{
    position: absolute;
    top: 2000px;
    left: 200px;
}
.about_pro_cont {
    width: 500px;
    margin: 30px auto 0;
    }
    
.about_pro {
    height: 8px;
    background-color: #f7f7f7;
}
    
.about_pro .about_bar {
    width: 90%;
    height: 8px;
    background-color: black;
}

#abt_pro_txt1{
        font-style: italic;
        color: gray;
        font-size: 85%;
        letter-spacing: 1.5px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about_progress_text{
        position: absolute;
        top: 0px;
        left: 600px;
        width: 520px;
}
    
#about_head_txt{
        font-family: 'Times New Roman', Times, serif;
        font-size: 190%;
}





/*Testimonial Page*/
.about_testimonials{
    position: absolute;
    left: 0px;
    top: 2400px;
    width: 1520px;
    text-align: center;
}

#about_black{
    width: 100%;
    height: 700px;
}

.abt_best_header{
    position: relative;
    top: 50px;
    text-align: center;
}

#abt_best_f{
    color: rgb(184, 162, 40);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#abt_our_serv{
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    font-weight: 500;
    position: relative;
    top: -15px;
    color: white;
}

.about_test_content{
    text-align: center;
    position: absolute;
    top: 50px;
    width: 1520px;
}

.abt_messagebox{
    position: relative;
    top: 130px;
    left: 200px;
}

.abt_messagebox1{
    border: 8px solid rgba(204, 203, 203, 0.274);
    width: 470px;
    font-style: italic;
    height: 150px;
    text-align: center;
}

#abt_message1{
    font-size: 120%;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.abt_messagebox2{
    position: absolute;
    top: 0px;
    left: 600px;
    border: 8px solid rgba(204, 203, 203, 0.274);
    width: 470px;
    font-style: italic;
    height: 150px;
    text-align: center;
}

.abt_person_img{
    position: absolute;
    top: 180px;
    left: 20px;
}

#abt_person1{
    width: 72px;
    height: 70px;
    border-radius: 50%;
}

.abt_testi_txt1{
    width: 150px;
    position: absolute;
    top: 20px;
    left: 70px;
    color: white;
}

#abt_person_profession{
    color: rgb(163, 142, 21);
    font-size: 90%;
}

.abt_person2{
    position: absolute;
    top: 0px;
    left: 600px;
}






/*our employees*/

.about_out_employees{
    position: absolute;
    top: 3150px;
    left: 0px;
    width: 1520px;
}    


#abt_our_serv1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    font-weight: 500;
    position: relative;
    top: -15px;
    color: black;
}


.employee_img{
    position: absolute;
    top: 230px;
    left: 220px;
    width: 820px;
}

.employee_img1{
    width: 250px;
}

#emp_img1{
    width: 250px;
    height: 283px;
}

.employee_img2{
    position: absolute;
    top: 0px;
    left: 280px;
    text-align: center;

}
.employee_img3{
  position: absolute;
  top: 0px;
  left: 560px;
  text-align: center;
}
.employee_img4{
    position: absolute;
    top: 0px;
    left: 840px;
    text-align: center;
}

#emp_logo{
    height: 20px;
    width: 20px;
    padding-bottom: 10px;
}

.onhover{
    position: absolute;
    top: 0px;
    width: 30px;
    height: 180px;
    border: white;
    background: white;
    opacity: 0;
    transition: opacity .35s ease;
}

.logo_onhover{
    position: relative;
    top: 30px;
}

.employee_img1:hover .onhover{
    opacity: 1;
}

.employee_img2:hover .onhover{
    opacity: 1;
}

.employee_img3:hover .onhover{
    opacity: 1;
}

.employee_img4:hover .onhover{
    opacity: 1;
}

#emp_img1:hover{
    filter: brightness(50%);
}

#emp_img_text1{
    text-align: center;
    position: relative;
    top: 20px;
}

#img_txt_2nd{

    color: gray;
    position: relative;
    top: -10px;
}





/*news page*/

.news{
    position: absolute;
    top: 3850px;
    left: 0px;
    width: 1520px;
    height: 1000px;
    background-color: rgb(250, 245, 246) ;
}

.best_header{
    position: relative;
    top: 100px;
    text-align: center;
}

.news_content{
    position: relative;
    top: 130px;
    left: 200px;
}

.news1{
    display: block;
    overflow: hidden;
    width: 550px;
}

.news1 img{
    width: 550px;
    height: 390px;
    transition: all .3s;
    transform: scale(1);
}

.news1:hover img{
    transform: scale(1.1);
}

.news_border{
    position: absolute;
    top: 350px;
    left: 20px;
    width: 510px;
    height: 230px;
    border: white;
    background: white;
}

.news_text{
    position: relative;
    top: 35px;
    left: 30px;
    text-align: center;
}

#news_txt1{
    color: grey;
    font-size: 80%;
}

#news_txt2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}

#news_readmore{
    text-decoration: underline;
    font-size: 85%;
    color:  rgb(163, 142, 21) ;
}

#news_readmore:hover{
    text-decoration: none;
}

.news2{
    position: absolute;
    top: 0px;
    left: 600px;
    display: block;
    overflow: hidden;
    width: 550px;
    height: 600px;
}


.news2 img{
    width: 550px;
    height: 390px;
    transition: all .3s;
    transform: scale(1);
}

.news2:hover img{
    transform: scale(1.1);
}





/*FOOTER PAGE*/

.footer{
    position: absolute;
    top: 4850px;
    left: 0px;
    border: rgb(34, 34, 51);
    background: rgb(34, 34, 51);
    width: 1520px;
    height: 460px;
}

.footer_content{
    position: absolute;
    top: 50px;
    left: 200px;
    width: 1200px;
}

#footer_logo{
    filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(97%);
    width: 160px;
}

.footer_txt1{
    position: absolute;
    top: 110px;
    width: 280px;
    color: gray;
    font-size: 90%;
    line-height: 25px;
}

.footer_logo2{
    position: absolute;
    top: 230px;
    width: 200px;
}

#logo_fot{
    width: 15px;
    height: 15px;
    border: 1px solid rgb(212, 199, 131);
    border-radius: 50%;
    padding: 12px;
    filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

#logo_fot:hover{
    border: solid rgb(80, 67, 1);
}

.useful_links{
    position: absolute;
    top: 60px;
    left: 350px;
}

#use_link{
    font-size: 85%;
    color:  rgb(163, 142, 21) ;
}

#links{
    color: white;
    font-size: 82%;
    line-height: 25px;
}

.call_us{
    position: absolute;
    top: 60px;
    left: 530px;
}

.call{
    border-bottom: 1px solid rgb(163, 142, 21);
    width: 180px;
}

#call_us{
    font-size: 85%;
    color:  rgb(163, 142, 21) ;
}

#footer_txt2{
    color: grey;
    font-size: 88%;
    line-height: 25px;
}

.write{
    position: absolute;
    top: 60px;
    left: 750px;
}

.visit{
    position:absolute;
    top: 60px;
    left: 970px;
}

.last_txt{
    position: absolute;
    left: 0px;
    top: 380px;
    width: 1520px;
    border-top: 1px solid rgb(163, 142, 21);
}

.last_txt1{
    position: relative;
    left: 200px;
    top: 10px;
}

.last_txt2{
    position: absolute;
    top: 10px;
    left: 1200px;
}

.last_button{
   position: absolute;
   top: 0px;
   left: 1450px;
}

#last_button{
    text-decoration: none;
    text-align: center;
}

#last_but{
    border: 1px solid rgb(163, 142, 21);
    border-radius: 50%;
    color: rgb(163, 142, 21);
    width: 30px;
    height: 30px;
    padding: 5px;
}
