body{
    overflow-x: hidden;
    font-family:Arial, Helvetica, sans-serif;
}

/*upper envato tab*/
.uppertab{
    overflow-y: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    border: 1px solid black;
    width: 1600px;
    height: 55px;
    background-color: black;
    z-index: 2;
}
#envatoimg{
    position: relative;
    top: 20px;
    left: 20px;
    width: 150px;
}

.buynow{
    border: solid rgb(119, 177, 32);
    background-color: rgb(119, 177, 32);
    padding: 5px;
    width: 80px;
    position: relative;
    left: 1400px;
    bottom: 11px;
    text-align: center;
    border-radius: 3px;
    font-size: 90%;
}

.buynow:hover{
    opacity: 95%;
}
#buynow{
    text-decoration: none;
    color: white;
}

.navbar{
    height: 20px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 55px;
    border-bottom: solid 1px rgb(243, 237, 204); 
    padding: 30px;
    background-color: white;
    z-index: 2;
}

.first_content{
    position: absolute;
    top: 10px;
    left: 750px;
}



/*lower navbar*/

.navbar a {
float: left;
font-size: 15px;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
padding-left: 20px;
}

.navbar a:hover{
   color: rgb(163, 142, 21); 
}

.dropdown {
float: left;
overflow:hidden;
font-size: 15px;
}

.dropbtn {
font-size: 20px;  
border: none;
outline: none;
color: black;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
font-weight: bold;
font-size: 15px;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #fff;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;

}
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.dropdown-content a:hover {
margin-left: 3px;
background-color: white;
color: rgb(163, 142, 21);
}
.dropdown:hover .dropdown-content {
display: block;
}


.arch_logo{
    position: absolute;
    top: -80px;
    left: 200px;
}

#archo_logo{
    left: 50px;
    width: 200px;
}

.socialmedia{
    position: absolute;
    top: 22px;
    left: 1180px;
    border-left: 1px solid gray;
    height: 20px;
    border-right: 1px solid gray;
    width: 130px;
}

.socialmedia img{
    position: absolute;
    top: 2px;
    width: 15px;
    height: 15px;
}

#search_img{
    position: absolute;
    top: 25px;
    left: 1325px;
    width: 15px;
}










.architecture_content{
    z-index: 1;
    width: 1520px;
}


/*First Page*/

.main_img{
    position: absolute;
    top: 0px;
    left: 0px;
}

#main_img{
    width: 1533px;
    height: 750px;
    filter: brightness(40%);
}

.first_txt{
    z-index: 1;
    position: absolute;
    top: 220px;
    left: 300px;
    width: 550px;
}

#elegant{
    color: rgb(163, 142, 21);
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 180%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#unique{
    color: white;
    font-size: 380%;
    font-weight: 800;
    position:absolute;
    top: 20px;
}

#right_design{
    color: white;
    position: relative;
    top: 80px;
}

.readmore1{
    z-index: 1;
    position: absolute;
    top: 450px;
    left: 300px;
}

#readmore1{
    background-color: transparent;
    width: 150px;
    height: 50px;
    font-size: 110%;
    font-weight: bold;
    border: 2px solid white;
    color: white;
    transition: 1s;
}

#readmore1:hover{
    background-color: white;
    color: black;
}


.image_slider{
    z-index: 1;
    position: absolute;
    top: 500px;
    left: 1430px;
}

#image_sliderr{
    background: transparent;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    color: white;
}

#image_sliderr:hover{
    color:  rgb(163, 142, 21) ;
    border: 1px solid rgb(163, 142, 21);
}









/*Features*/

.features{
    position: absolute;
    top: 700px;
    left: 0px;
    width: 1520px;
    background-color: rgb(248, 246, 246);
    height: 800px;
}

.best_header{
    position: relative;
    top: 100px;
    text-align: center;
}

#best_f{
    color: rgb(163, 142, 21);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#our_serv{
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    font-weight: 500;
    position: relative;
    top: -15px;
}

.select_features{
    position: absolute;
    top: 290px;
    left: 200px;
}

.architecture01{
    border: 1px solid rgb(163, 142, 21);
    background-color: white;
    width: 330px;
    height: 390px;
}
.architecture01:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("interior.jpg");
    background-position: left;
}
.architecture02{
    position: absolute;
    top: 0px;
    left: 360px;
    border: 1px solid rgb(163, 142, 21);
    background-color: white;
    width: 330px;
    height: 390px;

}

.architecture02:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("interior.jpg");
    background-position: -220px;
    
}

.architecture03{
    position: absolute;
    top: 0px;
    left: 720px;
    border: 1px solid rgb(163, 142, 21);
    background-color: white;
    width: 330px;
    height: 390px;
    
}

.architecture03:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("interior.jpg");
    background-position: -450px;
    
}

.architecture04{
    position: absolute;
    top: 0px;
    left: 840px;
    border: 1px solid rgb(163, 142, 21);
    background-color: white;
    width: 280px;
    height: 390px;
    
}

.architecture04:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("interior.jpg");
    background-position: -700px;
    
}

#num1{
    position: relative;
    top: 55px;
    left: 30px;
    font-size: 300%;
    color: rgb(163, 142, 21);
}

#hovarch_text{
    text-decoration: none;
    color: black;
    
}

#arch_text1{
    position: relative;
    top: 65px;
    left: 30px;
}

#hovarch_text:hover{
    color: white;
}

#cras{
    position: relative;
    top: 70px;
    left: 30px;
    width: 200px;
    color: grey;
}

#feature_read1{
    position: relative;
    top: 90px;
    left: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}












.our_portfolio{
    position: absolute;
    left: 0px;
    width: 1530px;
    top: 1400px;
    background-color: rgb(34, 34, 51);
    height: 950px;
}

#our_serv1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.port_image{
    position: absolute;
    left: 0px;
    top: 300px;
}

.port_image1{
    position: absolute;
    left: 0px;
}

#port_image1{
    width: 350px;
    height: 470px;
    object-fit: cover;
    padding-right: 30px;
    text-align: center;
}

#port_image2{
    width: 750px;
    height: 470px;
}

.port_image2{
    position: absolute;
    top: 0px;
    left: 380px;
    text-align: center;
}

#port_image2{
    width: 750px;
    height: 470px;
}

.port_image3{
    position: absolute;
    left: 1160px;
    text-align: center;
}

.port_img_txt{
    padding-top: 20px ;
  
}

.port_img_txt p1{
    color: rgb(163, 142, 21);
    font-size: 80%;
    letter-spacing: 2px;
    line-height: 30px;
}

.port_img_txt p2{
    color: white;
    font-weight: bold;
    font-size: 130%;
}

.img_but1{
    position: absolute;
    left: 15px;
    top: 230px;
}

#img_but{
    width: 50px;
    height: 50px;
    font-size: 120%;
}

.img_but2{
    position: absolute;
    top: 230px;
    left: 1470px;
}







.whatwd{
    position: absolute;
    top: 2350px;
}

.what_txt{
    position: relative;
    top: 100px;
    left: 200px;
}

.what_txt h1{
    font-size: 330%;
    font-family: 'Times New Roman', Times, serif;
}

.what_txt p{
    color: gray;
}

.what_list{
    position: absolute;
    left: 700px;
    width: 300px;
    top: 130PX;
   
}

.what_one{
    width: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(228, 225, 225);
}

#what_num{
    color: gray;
    font-size: 90%;
}

#what_listp{
    font-weight: bold;
    font-size: 95%;
}

.what_img{
    position: absolute;
    top: 0px;
    left: 1000px;
}

.what_img img{
    width: 700px;
    height: 400px;
}


.about_play_button{
    position: absolute;
    top: 150px;
    left: 200px;
}


.play-button-outer {
  margin: 25% auto;
  width: 6.5em;
  height: 6em;
  background-color: rgba(121, 120, 120, 0.541);
  border-radius: 50%;
  cursor: pointer;
  padding-left: 8px;
  padding-top: 15px;
}


.play-button {
  margin: 0 auto;
  top: 25%;
  position: relative;  
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1em 0 1em 2em;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.575);
  opacity: 1; 

}

.play-button-outer:hover {
  background-color: rgba(177, 161, 161, 0.863);
}

.play-button-outer:hover .play-button {
  opacity: 1;
}










.best_works{
    position: absolute;
    top: 2900px;
    left: 0px;
    width: 1520px;
}

#works_wall{
    width: 1520px;
    height: 550px;
    filter: brightness(50%);
    object-fit: cover;
}

.header_w{
    position: absolute;
    top: 0px;
    width: 1520px;
    text-align: center;
}

.works_images{
    position: absolute;
    top: 320px;
    width: 1520px;
}

.w_img1{
    position: relative;
    left: 200px;
}

.w_img1:hover{
    filter: brightness(80%);
}

.w_img2{
    position: absolute;
    top: 0px;
    left: 755px;
}

.w_img2:hover{
    filter: brightness(80%);
}
#w_img{
    width: 550px;
}

.w_button{
    position: absolute;
    top: 300px;
    left: 730px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 10px;
}

.w_button a{
    text-decoration: none;
    color: white;
}

.works_achievements{
    position: absolute;
    top: 1050px;
    left: 200px;
}

.works_achievements img{
    padding-right: 40px;
    width: 230px;
    height: 150px;
}










.employee{
    width: 1520;
    position: absolute;
    top: 4220px;
    left: 0px;
}

.border_employee1{
    border: solid rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
    width: 850px;
    height: 400px;
}

.border_employee2{
    position: absolute;
    top: 0px;
    left: 850px;
    width: 720px;
    height: 600px;
    border: solid rgb(243, 239, 240);
    background-color: rgb(243, 239, 240);
}

.employee_text{
    position: absolute;
    top: 120px;
    left: 200px;
    width: 450px;
}

.emp_button{
    position: relative;
    top: 25px;
}

#emp_but1{
    width: 75px;
    height: 55px;
    border: solid rgb(221, 203, 208);
    background-color: rgb(221, 203, 208);
}

#emp_but1:hover{
    border:rgb(243, 168, 97) ;
    background-color: rgb(243, 168, 97);
}
.employee_img{
    position: absolute;
    top: 120px;
    left: 700px;
    width: 820px;
}

.employee_img1{
    width: 250px;
}

#emp_img1{
    width: 250px;
    height: 283px;
}

.employee_img2{
    position: absolute;
    top: 0px;
    left: 280px;
    text-align: center;

}
.employee_img3{
  position: absolute;
  top: 0px;
  left: 560px;
  text-align: center;
}


#emp_logo{
    height: 20px;
    width: 20px;
    padding-bottom: 10px;
}

.onhover{
    position: absolute;
    top: 0px;
    width: 30px;
    height: 180px;
    border: white;
    background: white;
    opacity: 0;
    transition: opacity .35s ease;
}

.logo_onhover{
    position: relative;
    top: 30px;
}

.employee_img1:hover .onhover{
    opacity: 1;
}

.employee_img2:hover .onhover{
    opacity: 1;
}

.employee_img3:hover .onhover{
    opacity: 1;
}

#emp_img1:hover{
    filter: brightness(50%);
}

#emp_img_text1{
    text-align: center;
    position: relative;
    top: 20px;
}

#img_txt_2nd{

    color: gray;
    position: relative;
    top: -10px;
}








.testimonials{
    position: absolute;
    width: 1520px;
    top: 4830px;
    text-align: center;
}

.messagebox{
    position: relative;
    top: 130px;
    left: 200px;
}

.messagebox1{
    border: 8px solid rgb(231, 229, 229);
    width: 470px;
    font-style: italic;
    height: 150px;
    text-align: center;
}

#message1{
    font-size: 120%;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(54, 54, 54);
}

.messagebox2{
    position: absolute;
    top: 0px;
    left: 600px;
    border: 8px solid rgb(231, 229, 229);
    width: 470px;
    font-style: italic;
    height: 150px;
    text-align: center;
}

.person_img{
    position: absolute;
    top: 180px;
    left: 20px;
}

#person1{
    width: 72px;
    height: 70px;
    border-radius: 50%;
}

.testi_txt1{
    width: 150px;
    position: absolute;
    top: 20px;
    left: 70px;
}

#person_profession{
    color: rgb(163, 142, 21);
    font-size: 90%;
}

.person2{
    position: absolute;
    top: 0px;
    left: 600px;
}







.news{
    position: absolute;
    top: 5450px;
    left: 0px;
    width: 1520px;
    height: 1000px;
    background-color: rgb(250, 245, 246) ;
}

.best_header{
    position: relative;
    top: 100px;
    text-align: center;
}

.news_content{
    position: relative;
    top: 130px;
    left: 200px;
}

.news1{
    display: block;
    overflow: hidden;
    width: 550px;
}

.news1 img{
    width: 550px;
    height: 390px;
    transition: all .3s;
    transform: scale(1);
}

.news1:hover img{
    transform: scale(1.1);
}

.news_border{
    position: absolute;
    top: 350px;
    left: 20px;
    width: 510px;
    height: 230px;
    border: white;
    background: white;
}

.news_text{
    position: relative;
    top: 35px;
    left: 30px;
    text-align: center;
}

#news_txt1{
    color: grey;
    font-size: 80%;
}

#news_txt2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}

#news_readmore{
    text-decoration: underline;
    font-size: 85%;
    color:  rgb(163, 142, 21) ;
}

#news_readmore:hover{
    text-decoration: none;
}

.news2{
    position: absolute;
    top: 0px;
    left: 600px;
    display: block;
    overflow: hidden;
    width: 550px;
    height: 600px;
}


.news2 img{
    width: 550px;
    height: 390px;
    transition: all .3s;
    transform: scale(1);
}

.news2:hover img{
    transform: scale(1.1);
}








.footer{
    position: absolute;
    top: 6400px;
    left: 0px;
    border: rgb(34, 34, 51);
    background: rgb(34, 34, 51);
    width: 1520px;
    height: 460px;
}

.footer_content{
    position: absolute;
    top: 50px;
    left: 200px;
    width: 1200px;
}

#footer_logo{
    filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(97%);
    width: 160px;
}

.footer_txt1{
    position: absolute;
    top: 110px;
    width: 280px;
    color: gray;
    font-size: 90%;
    line-height: 25px;
}

.footer_logo2{
    position: absolute;
    top: 230px;
    width: 200px;
}

#logo_fot{
    width: 15px;
    height: 15px;
    border: 1px solid rgb(212, 199, 131);
    border-radius: 50%;
    padding: 12px;
    filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

#logo_fot:hover{
    border: solid rgb(80, 67, 1);
}

.useful_links{
    position: absolute;
    top: 60px;
    left: 350px;
}

#use_link{
    font-size: 85%;
    color:  rgb(163, 142, 21) ;
}

#links{
    color: white;
    font-size: 82%;
    line-height: 25px;
}

.call_us{
    position: absolute;
    top: 60px;
    left: 530px;
}

.call{
    border-bottom: 1px solid rgb(163, 142, 21);
    width: 180px;
}

#call_us{
    font-size: 85%;
    color:  rgb(163, 142, 21) ;
}

#footer_txt2{
    color: grey;
    font-size: 88%;
    line-height: 25px;
}

.write{
    position: absolute;
    top: 60px;
    left: 750px;
}

.visit{
    position:absolute;
    top: 60px;
    left: 970px;
}

.last_txt{
    position: absolute;
    left: 0px;
    top: 380px;
    width: 1520px;
    border-top: 1px solid rgb(163, 142, 21);
}

.last_txt1{
    position: relative;
    left: 200px;
    top: 10px;
}

.last_txt2{
    position: absolute;
    top: 10px;
    left: 1200px;
}

.last_button{
   position: absolute;
   top: 0px;
   left: 1450px;
}

#last_button{
    text-decoration: none;
    text-align: center;
}

#last_but{
    border: 1px solid rgb(163, 142, 21);
    border-radius: 50%;
    color: rgb(163, 142, 21);
    width: 30px;
    height: 30px;
    padding: 5px;
}


