body{
    overflow-x: hidden;
    font-family:Arial, Helvetica, sans-serif;
}

/*upper envato tab*/
.uppertab{
    overflow-y: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    border: 1px solid black;
    width: 1600px;
    height: 55px;
    background-color: black;
    z-index: 2;
}
#envatoimg{
    position: relative;
    top: 20px;
    left: 20px;
    width: 150px;
}

.buynow{
    border: solid rgb(119, 177, 32);
    background-color: rgb(119, 177, 32);
    padding: 5px;
    width: 80px;
    position: relative;
    left: 1400px;
    bottom: 11px;
    text-align: center;
    border-radius: 3px;
    font-size: 90%;
}

.buynow:hover{
    opacity: 95%;
}
#buynow{
    text-decoration: none;
    color: white;
}

.navbar{
    height: 20px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 55px;
    border-bottom: solid 1px rgb(243, 237, 204); 
    padding: 30px;
    background-color: white;
    z-index: 2;
}

.first_content{
    position: absolute;
    top: 10px;
    left: 750px;
}



/*lower navbar*/

.navbar a {
float: left;
font-size: 15px;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
padding-left: 20px;
}

.navbar a:hover{
   color: rgb(163, 142, 21); 
}

.dropdown {
float: left;
overflow:hidden;
font-size: 15px;
}

.dropbtn {
font-size: 20px;  
border: none;
outline: none;
color: black;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
font-weight: bold;
font-size: 15px;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #fff;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;

}
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.dropdown-content a:hover {
margin-left: 3px;
background-color: white;
color: rgb(163, 142, 21);
}
.dropdown:hover .dropdown-content {
display: block;
}


.arch_logo{
    position: absolute;
    top: -80px;
    left: 200px;
}

#archo_logo{
    left: 50px;
    width: 200px;
}

.socialmedia{
    position: absolute;
    top: 22px;
    left: 1180px;
    border-left: 1px solid gray;
    height: 20px;
    border-right: 1px solid gray;
    width: 130px;
}

.socialmedia img{
    position: absolute;
    top: 2px;
    width: 15px;
    height: 15px;
}

#search_img{
    position: absolute;
    top: 25px;
    left: 1325px;
    width: 15px;
}






.interior_content{
    z-index: 1;
}




.main_img{
    position: absolute;
    top: 0px;
    left: 0px;
}

#main_img{
    width: 1533px;
    height: 750px;
    filter: brightness(40%);
}

.first_txt{
    z-index: 1;
    position: absolute;
    top: 220px;
    left: 300px;
    width: 550px;
}

#elegant{
    color: rgb(163, 142, 21);
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 180%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#unique{
    color: white;
    font-size: 380%;
    font-weight: 800;
    position:absolute;
    top: 20px;
}

#right_design{
    color: white;
    position: relative;
    top: 80px;
}

.readmore1{
    z-index: 1;
    position: absolute;
    top: 550px;
    left: 300px;
}

#readmore1{
    background-color:rgb(163, 142, 21);
    width: 200px;
    height: 60px;
    font-size: 110%;
    font-weight: bold;
    border: 2px solid rgb(163, 142, 21);
    color: white;
    transition: 1s;
}

#readmore1:hover{
    background-color: white;
    color: black;
}


.image_slider{
    z-index: 1;
    position: absolute;
    top: 600px;
    left: 1430px;
}

#image_sliderr{
    background: transparent;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    color: white;
}

#image_sliderr:hover{
    color:  rgb(163, 142, 21) ;
    border: 1px solid rgb(163, 142, 21);
}









.i_border{
    position: absolute;
    left: 0px;
    top: 710px;
    background-color: rgb(250, 245, 246);
    width: 1200px;
    height: 260px;
}

.b_content1{
    position: relative;
    left: 100px;
    top: 100px;
}

#border_title{
    font-size: 120%;
}

#border_desc{
    color: gray;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 90%;
}

.b_content2{
    position: absolute;
    top: 100px;
    left: 480px ;
}

.b_content3{
    position: absolute;
    top: 100px;
    left: 860px ;
}

.readmore2{
    padding-top: 20px;
}









.about_us{
    position: absolute;
    top: 1100px;
    left: 0px;
}

.abt_header{
    position: relative;
    left: 200px;
}

.abt_title{
    color: rgb(163, 142, 21);
    font-size: 80%;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.abt_title2{
    padding-top: 20px;
    font-size: 250%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.abt_desc{
    font-size: 95%;
    padding-top: 20px;
    color: gray;
    letter-spacing: 1px;
    line-height: 30px;
}

.abt_sel{
    padding-top: 20px;
    font-size: 70%;
    font-weight: bold;
}


.readmore2{
    padding-top: 20px;
}


#readmore2{
    background-color:rgb(163, 142, 21);
    width: 150px;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
    border: 2px solid rgb(163, 142, 21);
    color: white;
    transition: 1s;
}

.abt_img{
    position: absolute;
    top: 0px;
    left: 800px;
}

.abt_border{
    background-color: rgb(235, 235, 235);
    width: 150px;
    height: 250px;
}

.abt_img1{
    position: absolute;
    top: 0px;
    left: 180px;
}
.abt_img1 img{
    object-fit: cover;
    width: 340px;
    height: 250px;
}

.abt_img2{
    position: relative;
    top: 20px;
}
.abt_img2 img{
    object-fit: cover;
    width: 300px;
    height: 250px;
}

.abt_border2{
    position: absolute;
    top: 270px;
    left: 320px;
    border: 9px solid rgb(250, 245, 246);
    width: 190px;
    height: 230px;
}

.abt_border2 p{
    position: relative;
    top: 50px;
    font-weight: bold;
}










.hov_img{
    position: absolute;
    top: 600px;
    width: 380px;
}

.hov_img1 img{
    width: 380px;
    height: 600px;
    object-fit: cover;
    object-position:-20px;
    filter: brightness(50%);
}

.hov_img_txt{
    position: absolute;
    top:0px;
    left: 0px;
    color: white;
    width: 380px;
    height: 150px;
    transition: 1s;
}

.hov_img_txt p{
    font-weight: bold;
    font-size: 120%;
    padding: 20px;
    letter-spacing: 1px;
    line-height: 30px;
}

.hov_img1:hover .hov_img_txt{
    color: black;
    background-color: white;
}

.view_p{
    position: relative;
    left: 240px;
    top: -40px;
    color: white;
    opacity: 0;
    transition: 1s;
}

.hov_img1:hover .view_p{
    opacity: 1;
}

.hov_img2{
    position: absolute;
    top: 0px;
    left: 381px;
}

.hov_img2 img{
    width: 380px;
    height: 600px;
    object-fit: cover;
    object-position: -400px;
    filter: brightness(50%);

}

.hov_img2:hover .hov_img_txt{
    color: black;
    background-color: white;
}

.hov_img2:hover .view_p{
    opacity: 1;
}
.hov_img3{
    position: absolute;
    top: 0px;
    left: 762px;
}

.hov_img3 img{
    width: 380px;
    height: 600px;
    object-fit: cover;
    object-position: -20px;
    filter: brightness(50%);

}

.hov_img3:hover .hov_img_txt{
    color: black;
    background-color: white;
}

.hov_img3:hover .view_p{
    opacity: 1;
}

.hov_img4{
    position: absolute;
    top: 0px;
    left: 1143px;
}

.hov_img4 img{
    width: 380px;
    height: 600px;
    object-fit: cover;
    object-position: -400px;
    filter: brightness(50%);

}

.hov_img4:hover .hov_img_txt{
    color: black;
    background-color: white;
}

.hov_img4:hover .view_p{
    opacity: 1;
}









.w_process{
    position: absolute;
    left: 0px;
    top: 1200px;
    width: 1520px;
    background-color: rgb(245, 245, 245);
    height: 680px;
}

.best_header{
    position: relative;
    top: 100px;
    text-align: center;
}

#best_f{
    color: rgb(163, 142, 21);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#our_serv{
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    font-weight: 500;
    position: relative;
    top: -15px;
}


.process_img{
    position: absolute;
    top: 300px;
    left: 200px;
}

.p_house1{
    width: 300px;
    text-align: center;
}

.process_img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#round1{
    position:relative;
    top: -100px;
    left: 160px;
    color: rgb(163, 142, 21);
}

.p_house2{
    width: 300px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 310px;
}

.p_house3{
    width: 300px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 620px;
}

.p_house4{
    width: 300px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 940px;
}

#p_desc{
    position: relative;
    top: -25px;
    letter-spacing: 1px;
    line-height: 30px;
    color: gray;
    font-size: 90%;
}

#p_desc2{
    position: relative;
    top: 10px;
    letter-spacing: 1px;
    line-height: 30px;
    color: gray;
    font-size: 90%;
}









.employee{
    width: 1520;
    position: absolute;
    top: 680px;
    left: 0px;
}

.border_employee1{
    border: solid rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
    width: 850px;
    height: 400px;
}

.border_employee2{
    position: absolute;
    top: 0px;
    left: 850px;
    width: 720px;
    height: 600px;
    border: solid rgb(243, 239, 240);
    background-color: rgb(243, 239, 240);
}

.employee_text{
    position: absolute;
    top: 120px;
    left: 200px;
    width: 450px;
}

#title_thoughts{
    color: rgb(179, 161, 60);
}

.emp_button{
    position: relative;
    top: 25px;
}

#emp_but1{
    width: 75px;
    height: 55px;
    border: solid rgb(221, 203, 208);
    background-color: rgb(221, 203, 208);
}

#emp_but1:hover{
    border:rgb(243, 168, 97) ;
    background-color: rgb(243, 168, 97);
}
.employee_img{
    position: absolute;
    top: 120px;
    left: 700px;
    width: 820px;
}

.employee_img1{
    width: 250px;
}

#emp_img1{
    width: 250px;
    height: 283px;
}

.employee_img2{
    position: absolute;
    top: 0px;
    left: 280px;
    text-align: center;

}
.employee_img3{
  position: absolute;
  top: 0px;
  left: 560px;
  text-align: center;
}


#emp_logo{
    height: 20px;
    width: 20px;
    padding-bottom: 10px;
}

.onhover{
    position: absolute;
    top: 0px;
    width: 30px;
    height: 180px;
    border: white;
    background: white;
    opacity: 0;
    transition: opacity .35s ease;
}

.logo_onhover{
    position: relative;
    top: 30px;
}

.employee_img1:hover .onhover{
    opacity: 1;
}

.employee_img2:hover .onhover{
    opacity: 1;
}

.employee_img3:hover .onhover{
    opacity: 1;
}

#emp_img1:hover{
    filter: brightness(50%);
}

#emp_img_text1{
    text-align: center;
    position: relative;
    top: 20px;
}

#img_txt_2nd{

    color: gray;
    position: relative;
    top: -10px;
}












.about_testimonials{
    position: absolute;
    left: 0px;
    top: 1280px;
    width: 1520px;
    text-align: center;
}

#about_black{
    width: 100%;
    height: 700px;
}

.abt_best_header{
    position: relative;
    top: 50px;
    text-align: center;
}

#abt_best_f{
    color: rgb(184, 162, 40);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#abt_our_serv{
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    font-weight: 500;
    position: relative;
    top: -15px;
    color: white;
}

.about_test_content{
    text-align: center;
    position: absolute;
    top: 50px;
    width: 1520px;
}

.abt_messagebox{
    position: relative;
    top: 130px;
    left: 200px;
}

.abt_messagebox1{
    border: 8px solid rgba(204, 203, 203, 0.274);
    width: 470px;
    font-style: italic;
    height: 150px;
    text-align: center;
}

#abt_message1{
    font-size: 120%;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.abt_messagebox2{
    position: absolute;
    top: 0px;
    left: 600px;
    border: 8px solid rgba(204, 203, 203, 0.274);
    width: 470px;
    font-style: italic;
    height: 150px;
    text-align: center;
}

.abt_person_img{
    position: absolute;
    top: 180px;
    left: 20px;
}

#abt_person1{
    width: 72px;
    height: 70px;
    border-radius: 50%;
}

.abt_testi_txt1{
    width: 150px;
    position: absolute;
    top: 20px;
    left: 70px;
    color: white;
}

#abt_person_profession{
    color: rgb(163, 142, 21);
    font-size: 90%;
}

.abt_person2{
    position: absolute;
    top: 0px;
    left: 600px;
}










.our_blogs{
    position: absolute;
    left: 0px;
    top: 1980px;
    background-color: rgb(245, 241, 242);
    height: 1100px;
    width: 1520px;

}



.testi_border{
    position: relative;
    top: -50px;
    left: 200px;
    border: solid white;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    width: 1000px;
}

.testi_border img{
    width: 80px;
    padding-left: 70px;
}



.news{
    position: absolute;
    top: 150px;
    left: 0px;
    width: 1520px;
}

.best_header{
    position: relative;
    top: 100px;
    text-align: center;
}

.news_content{
    position: relative;
    top: 130px;
    left: 200px;
}

.news1{
    display: block;
    overflow: hidden;
    width: 550px;
}

.news1 img{
    width: 550px;
    height: 390px;
    transition: all .3s;
    transform: scale(1);
}

.news1:hover img{
    transform: scale(1.1);
}

.news_border{
    position: absolute;
    top: 350px;
    left: 20px;
    width: 510px;
    height: 230px;
    border: white;
    background: white;
}

.news_text{
    position: relative;
    top: 35px;
    left: 0px;
    text-align: center;
}

#news_txt1{
    color: grey;
    font-size: 80%;
}

#news_txt2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}

#news_readmore{
    text-decoration: underline;
    font-size: 85%;
    color:  rgb(163, 142, 21) ;
}

#news_readmore:hover{
    text-decoration: none;
}

.news2{
    position: absolute;
    top: 0px;
    left: 600px;
    display: block;
    overflow: hidden;
    width: 550px;
    height: 600px;
}


.news2 img{
    width: 550px;
    height: 390px;
    transition: all .3s;
    transform: scale(1);
}

.news2:hover img{
    transform: scale(1.1);
}













.footer{
    position: absolute;
    top: 3080px;
    left: 0px;
    border: rgb(34, 34, 51);
    background: rgb(34, 34, 51);
    width: 1520px;
    height: 460px;
}

.footer_content{
    position: absolute;
    top: 50px;
    left: 200px;
    width: 1200px;
}

#footer_logo{
    filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(97%);
    width: 160px;
}

.footer_txt1{
    position: absolute;
    top: 110px;
    width: 280px;
    color: gray;
    font-size: 90%;
    line-height: 25px;
}

.footer_logo2{
    position: absolute;
    top: 230px;
    width: 200px;
}

#logo_fot{
    width: 15px;
    height: 15px;
    border: 1px solid rgb(212, 199, 131);
    border-radius: 50%;
    padding: 12px;
    filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

#logo_fot:hover{
    border: solid rgb(80, 67, 1);
}

.useful_links{
    position: absolute;
    top: 60px;
    left: 350px;
}

#use_link{
    font-size: 85%;
    color:  rgb(163, 142, 21) ;
}

#links{
    color: white;
    font-size: 82%;
    line-height: 25px;
}

.call_us{
    position: absolute;
    top: 60px;
    left: 530px;
}

.call{
    border-bottom: 1px solid rgb(163, 142, 21);
    width: 180px;
}

#call_us{
    font-size: 85%;
    color:  rgb(163, 142, 21) ;
}

#footer_txt2{
    color: grey;
    font-size: 88%;
    line-height: 25px;
}

.write{
    position: absolute;
    top: 60px;
    left: 750px;
}

.visit{
    position:absolute;
    top: 60px;
    left: 970px;
}

.last_txt{
    position: absolute;
    left: 0px;
    top: 380px;
    width: 1520px;
    border-top: 1px solid rgb(163, 142, 21);
}

.last_txt1{
    position: relative;
    left: 200px;
    top: 10px;
}

.last_txt2{
    position: absolute;
    top: 10px;
    left: 1200px;
}

.last_button{
   position: absolute;
   top: 0px;
   left: 1450px;
}

#last_button{
    text-decoration: none;
    text-align: center;
}

#last_but{
    border: 1px solid rgb(163, 142, 21);
    border-radius: 50%;
    color: rgb(163, 142, 21);
    width: 30px;
    height: 30px;
    padding: 5px;
}



