body{
    overflow-x: hidden;
    font-family:Arial, Helvetica, sans-serif;
}

/*upper envato tab*/
.uppertab{
    overflow-y: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    border: 1px solid black;
    width: 1600px;
    height: 55px;
    background-color: black;
    z-index: 2;
}
#envatoimg{
    position: relative;
    top: 20px;
    left: 20px;
    width: 150px;
}

.buynow{
    border: solid rgb(119, 177, 32);
    background-color: rgb(119, 177, 32);
    padding: 5px;
    width: 80px;
    position: relative;
    left: 1400px;
    bottom: 11px;
    text-align: center;
    border-radius: 3px;
    font-size: 90%;
}

.buynow:hover{
    opacity: 95%;
}
#buynow{
    text-decoration: none;
    color: white;
}

.navbar{
    height: 20px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 55px;
    border-bottom: solid 1px rgb(243, 237, 204); 
    padding: 30px;
    background-color: white;
    z-index: 2;
}

.first_content{
    position: absolute;
    top: 10px;
    left: 750px;
}



/*lower navbar*/

.navbar a {
float: left;
font-size: 15px;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
padding-left: 20px;
}

.navbar a:hover{
   color: rgb(163, 142, 21); 
}

.dropdown {
float: left;
overflow:hidden;
font-size: 15px;
}

.dropbtn {
font-size: 20px;  
border: none;
outline: none;
color: black;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
font-weight: bold;
font-size: 15px;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #fff;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;

}
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.dropdown-content a:hover {
margin-left: 3px;
background-color: white;
color: rgb(163, 142, 21);
}
.dropdown:hover .dropdown-content {
display: block;
}


.arch_logo{
    position: absolute;
    top: -80px;
    left: 200px;
}

#archo_logo{
    left: 50px;
    width: 200px;
}

.socialmedia{
    position: absolute;
    top: 22px;
    left: 1180px;
    border-left: 1px solid gray;
    height: 20px;
    border-right: 1px solid gray;
    width: 130px;
}

.socialmedia img{
    position: absolute;
    top: 2px;
    width: 15px;
    height: 15px;
}

#search_img{
    position: absolute;
    top: 25px;
    left: 1325px;
    width: 15px;
}


.portfolio_content{
    width: 1520px;
    position: absolute;
    top: 20px;
    left: 0px;
}


.firstpage{
    text-align: center;
}

#housebp{
    height: 550px;
    width: 100%;
}

.best_header{
    position: absolute;
    top: 250px;
    left: 550px;
    text-align: center;
}

#header-title{
    color: rgb(175, 155, 39);
}












.about_firstpage{
    position: absolute;
    top: 0px;
    left: 0px;
}

#about_firstimg{
    width: 1520px;
    height: 600px;
    filter: brightness(30%);
}

.about_firsttxt{
    position: absolute;
    top: 200px;
    left: 600px;
}

#about_us{
    font-size: 450%;
    font-weight: bold;
    color: white;
    line-height: 0px;
}

#about_home{
    position: relative;
    left: 80px;
    font-size: 110%;
    color: white;
}

#about_us1{
    position: relative;
    top: -38px;
    left: 220px;
    color: rgb(228, 203, 66);
    font-size: 110%;
}


.postdetails{
    position: absolute;
    top: 700px;
}

.text1{
    position: absolute;
    text-align: center;
    width: 1520px;
}

.text1 h1{
    font-size: 260%;
}

#sel1{
    text-decoration: none;
    color: gray;
    font-size: 90%;
    letter-spacing: 2px;
}

.image{
    position: absolute;
    top: 200px;
    left: 250px;
}

.image img{
    width: 1000px;
    height: 450px;
}

.letters{
    position: absolute;
    top: 700px;
    width: 900px;
    left: 300px;
}

.letters p{
    line-height: 30px;
}

#bold_l{
    font-size: 110%;
    font-weight: bold;
}

#desc_l{
    letter-spacing: 1px;
    color: gray;
}

.border_l{
    border: rgb(240, 236, 237);
    background-color: rgb(240, 236, 237);
    text-align: center;
    padding: 35px;
    width: 800px;
}

.border_l p{
    font-style: italic;
    font-size: 120%;
}

.images2{
    position: relative;
    top: 20px;
    left: -10px;
    
}

.images2 img{
    width: 422px;
    height: 250px;
    padding: 12px;
}

.border_l1{
    padding: 20px;
    position: relative;
    left: -10px;
    width: 850px;
    border-bottom: 1px solid black;
}

.logo_l img{
    padding-top: 10px;
    padding-right: 20px;
    width: 15px;
    height: 15px;
}

.logo_l p{
    position: relative;
    top: -40px;
    left: 700px;
    font-size: 80%;
}

.borderl2{
    border: solid rgb(240, 236, 237) ;
    background-color: rgb(240, 236, 237);
    padding: 30px;
    height: 150px;
}

.borderl2_txt{
    position: relative;
    top: -150px;
    left: 185px;

}

#person1{
    width: 150px;
    height: 150px;
}


.borderl2_txt p1{
    font-weight: bold;
    font-size: 90%;
    line-height: 30px;
}

.borderl2_txt p2{
    line-height: 30px;
    letter-spacing: 1px;
}
#sm_l{
    width: 15px;
    height: 15px;
    padding-top: 10px;
    padding-right: 10px;
}


.double_border{
        position: absolute;
        top: 2350px;
        width: 1000px;
}

.dborder1{
    border: 1px solid black;
    width: 470px;
    position: relative;
    left: 250px;
    height: 50px;
}
.dborder1 p1{
    position: relative;
    top: 15px;
    left: 20px;
}

.dborder2{
    border: 1px solid black;
    width: 35px;
    height: 30px;
    position: relative;
    left: 722px;
    top: -52px;
    padding: 10px;
}

.dborder3{
    border: 1px solid black;
    width: 470px;
    position: relative;
    top: -104px;
    left: 779px;
    height: 50px;
    text-align: right;
}

.dborder3 p2{
    position: relative;
    top: 15px;
    right: 20px;
}

.comments{
    position: relative;
    left: 250px;
}

.comment2{
    position: relative;
    left: 150px;
}


#comment{
    position: relative;
    top: 40px;
    width: 950px;
    font-size: 100%;
    border: rgb(248, 246, 246);
    background: rgb(248, 246, 246);
    outline: none;
    padding: 15px 15px;
    padding-bottom: 100px;
}

#name{
    position: relative;
    top: 80px;
    width: 375px;
    height: 50px;
    font-size: 100%;
    border: rgb(248, 246, 246);
    background: rgb(248, 246, 246);
    outline: none;
    padding: 0px 15px;
}

#email{
    position: relative;
    top: 30px;
    left: 500px;
    width: 375px;
    height: 50px;
    font-size: 100%;
    border: rgb(248, 246, 246);
    background: rgb(248, 246, 246);
    outline: none;
    padding: 0px 15px;
}

#submit{
    position: relative;
    top: 70px;
    height: 50px;
    width: 100px;
    border: 1px solid black;
    background-color: black;
    color: white;
}

#submit:hover{
    background-color: white;
    color: black;
}










.footer{
    position: absolute;
    top: 4590px;
    left: 0px;
    border: rgb(34, 34, 51);
    background: rgb(34, 34, 51);
    width: 1520px;
    height: 460px;
}

.footer_content{
    position: absolute;
    top: 50px;
    left: 200px;
    width: 1200px;
}

#footer_logo{
    filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(97%);
    width: 160px;
}

.footer_txt1{
    position: absolute;
    top: 110px;
    width: 280px;
    color: gray;
    font-size: 90%;
    line-height: 25px;
}

.footer_logo2{
    position: absolute;
    top: 230px;
    width: 200px;
}

#logo_fot{
    width: 15px;
    height: 15px;
    border: 1px solid rgb(212, 199, 131);
    border-radius: 50%;
    padding: 12px;
    filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

#logo_fot:hover{
    border: solid rgb(80, 67, 1);
}

.useful_links{
    position: absolute;
    top: 60px;
    left: 350px;
}

#use_link{
    font-size: 85%;
    color:  rgb(163, 142, 21) ;
}

#links{
    color: white;
    font-size: 82%;
    line-height: 25px;
}

.call_us{
    position: absolute;
    top: 60px;
    left: 530px;
}

.call{
    border-bottom: 1px solid rgb(163, 142, 21);
    width: 180px;
}

#call_us{
    font-size: 85%;
    color:  rgb(163, 142, 21) ;
}

#footer_txt2{
    color: grey;
    font-size: 88%;
    line-height: 25px;
}

.write{
    position: absolute;
    top: 60px;
    left: 750px;
}

.visit{
    position:absolute;
    top: 60px;
    left: 970px;
}

.last_txt{
    position: absolute;
    left: 0px;
    top: 380px;
    width: 1520px;
    border-top: 1px solid rgb(163, 142, 21);
}

.last_txt1{
    position: relative;
    left: 200px;
    top: 10px;
}

.last_txt2{
    position: absolute;
    top: 10px;
    left: 1200px;
}

.last_button{
   position: absolute;
   top: 0px;
   left: 1450px;
}

#last_button{
    text-decoration: none;
    text-align: center;
}

#last_but{
    border: 1px solid rgb(163, 142, 21);
    border-radius: 50%;
    color: rgb(163, 142, 21);
    width: 30px;
    height: 30px;
    padding: 5px;
}

