body{
    overflow-x: hidden;
    font-family:Arial, Helvetica, sans-serif;
}

/*upper envato tab*/
.uppertab{
    overflow-y: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    border: 1px solid black;
    width: 1600px;
    height: 55px;
    background-color: black;
    z-index: 2;
}
#envatoimg{
    position: relative;
    top: 20px;
    left: 20px;
    width: 150px;
}

.buynow{
    border: solid rgb(119, 177, 32);
    background-color: rgb(119, 177, 32);
    padding: 5px;
    width: 80px;
    position: relative;
    left: 1400px;
    bottom: 11px;
    text-align: center;
    border-radius: 3px;
    font-size: 90%;
}

.buynow:hover{
    opacity: 95%;
}
#buynow{
    text-decoration: none;
    color: white;
}

.navbar{
    height: 20px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 55px;
    border-bottom: solid 1px rgb(243, 237, 204); 
    padding: 30px;
    background-color: white;
    z-index: 2;
}

.first_content{
    position: absolute;
    top: 10px;
    left: 750px;
}



/*lower navbar*/

.navbar a {
float: left;
font-size: 15px;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
padding-left: 20px;
}

.navbar a:hover{
   color: rgb(163, 142, 21); 
}

.dropdown {
float: left;
overflow:hidden;
font-size: 15px;
}

.dropbtn {
font-size: 20px;  
border: none;
outline: none;
color: black;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
font-weight: bold;
font-size: 15px;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #fff;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;

}
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.dropdown-content a:hover {
margin-left: 3px;
background-color: white;
color: rgb(163, 142, 21);
}
.dropdown:hover .dropdown-content {
display: block;
}


.arch_logo{
    position: absolute;
    top: -80px;
    left: 200px;
}

#archo_logo{
    left: 50px;
    width: 200px;
}

.socialmedia{
    position: absolute;
    top: 22px;
    left: 1180px;
    border-left: 1px solid gray;
    height: 20px;
    border-right: 1px solid gray;
    width: 130px;
}

.socialmedia img{
    position: absolute;
    top: 2px;
    width: 15px;
    height: 15px;
}

#search_img{
    position: absolute;
    top: 25px;
    left: 1325px;
    width: 15px;
}



/*content of page started*/



.archo_content{
    z-index: 1;
}





/*First Page*/

.main_img{
    position: absolute;
    top: 0px;
    left: 0px;
}

#main_img{
    width: 1533px;
    height: 750px;
    filter: brightness(40%);
}

.first_txt{
    z-index: 1;
    position: absolute;
    top: 220px;
    left: 300px;
    width: 550px;
}

#elegant{
    color: rgb(163, 142, 21);
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 180%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#unique{
    color: white;
    font-size: 380%;
    font-weight: 800;
    position:absolute;
    top: 20px;
}

#right_design{
    color: white;
    position: relative;
    top: 80px;
}

.readmore1{
    z-index: 1;
    position: absolute;
    top: 450px;
    left: 300px;
}

#readmore1{
    background-color: transparent;
    width: 150px;
    height: 50px;
    font-size: 110%;
    font-weight: bold;
    border: 2px solid white;
    color: white;
    transition: 1s;
}

#readmore1:hover{
    background-color: white;
    color: black;
}


.image_slider{
    z-index: 1;
    position: absolute;
    top: 500px;
    left: 1430px;
}

#image_sliderr{
    background: transparent;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    color: white;
}

#image_sliderr:hover{
    color:  rgb(163, 142, 21) ;
    border: 1px solid rgb(163, 142, 21);
}







/*about page*/

.abt_us{
    position: absolute;
    top: 840px;
    left: 205px
}

#abt_us_img{
    width: 400px;
}

.abt_content{
    position: absolute;
    top: 50px;
    left: 500px;
    width: 600px;
}

#abt_us{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: rgb(163, 142, 21);
}

#best_designer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
}

#lorem{
    line-height: 30px;
    color: grey;
}

.abt_images{
    position: relative;
    top: 0px;
    width: 800px;

}

#abt_img1{
    width: 200px;
    height: 150px;
}

#abt_img2{
    width: 200px;
    height: 150px;
}

#abt_img3{
    width: 200px;
    height: 150px;
}

/*Feature page*/

.features1{
    position: absolute;
    left: 0px;
    top: 1450px;
    border: solid rgb(243, 237, 239);
    width: 1520px;
    height: 800px;
    background-color: rgb(243, 237, 239);
    
}

.best_header{
    position: relative;
    top: 100px;
    text-align: center;
}

#best_f{
    color: rgb(163, 142, 21);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#our_serv{
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    font-weight: 500;
    position: relative;
    top: -15px;
}

.select_features{
    position: absolute;
    top: 290px;
    left: 200px;
}

.architecture01{
    border: 1px solid rgb(163, 142, 21);
    background-color: white;
    width: 280px;
    height: 390px;
}
.architecture01:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("interior.jpg");
    background-position: left;
}
.architecture02{
    position: absolute;
    top: 0px;
    left: 280px;
    border: 1px solid rgb(163, 142, 21);
    background-color: white;
    width: 280px;
    height: 390px;

}

.architecture02:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("interior.jpg");
    background-position: -220px;
    
}

.architecture03{
    position: absolute;
    top: 0px;
    left: 560px;
    border: 1px solid rgb(163, 142, 21);
    background-color: white;
    width: 280px;
    height: 390px;
    
}

.architecture03:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("interior.jpg");
    background-position: -450px;
    
}

.architecture04{
    position: absolute;
    top: 0px;
    left: 840px;
    border: 1px solid rgb(163, 142, 21);
    background-color: white;
    width: 280px;
    height: 390px;
    
}

.architecture04:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("interior.jpg");
    background-position: -700px;
    
}

#num1{
    position: relative;
    top: 55px;
    left: 30px;
    font-size: 300%;
    color: rgb(163, 142, 21);
}

#hovarch_text{
    text-decoration: none;
    color: black;
    
}

#arch_text1{
    position: relative;
    top: 65px;
    left: 30px;
}

#hovarch_text:hover{
    color: white;
}

#cras{
    position: relative;
    top: 70px;
    left: 30px;
    width: 200px;
    color: grey;
}

#feature_read1{
    position: relative;
    top: 90px;
    left: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}



/* Portfolio page */

.our_portfolio{
    position: absolute;
    top: 2250px;
    left: 0px;
    width: 1520px;
}

.navbar_port{
        position: relative;
        top: 150px;
        left: 40px;
        text-align: center;
        width: 1450px;
        padding: 15px;
        font-size: 80%;
        font-weight: bold;
}

#all{
    text-decoration: none;
    color: black;
    padding-right: 30px;
}

#all:hover{
    color:  rgb(163, 142, 21);
}

#nav_interior{
    text-decoration: none;
    color: black;
    padding-right: 40px;
   
}

#nav_interior:hover{
    color:  rgb(163, 142, 21);
}

.port_image{
    width: 1520px;
    position: relative;
    top: 200px;
    left: 15px;
}

#port_img1{
    width: 700px;
    height: 430px;
}

#FanInt{
    width: 300px;
    position: relative;
    top: 10px;
    left: 20px;
    font-weight: 800;
    font-size: 110%;
}

#port_int_des{
    width: 300px;
    position: relative;
    top: -30px;
    left: 20px;
    font-size: 75%;
    font-family:sans-serif;
    color:  rgb(163, 142, 21) ;
    
}

.port_image2{
    position: absolute;
    top: 0px;
    left: 730px;
}

.port_image4{
    position: absolute;
    top: 550px;
    left: 730px;
}

#port_img1:hover{
    filter: brightness(50%);
}



/* Skills page */

.best_skills{
    background-image: linear-gradient(rgba(0, 0, 0, 0.664),rgba(0, 0, 0, 0.63)) , url("wall.png");
    position: absolute;
    top: 3840px;
    width: 1520px;
    left: 0px;
    background-size: 1520px;
    height: 620px;
    background-repeat: no-repeat;
    text-align: center;
}

#our_skills{
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    font-weight: 500;
    position: relative;
    top: -15px;
    color: white;
}

.p_pbar{
    width: 1520px;
}

.p_container{
    position: absolute;
    top: 300px;
    left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.p_container .p_percent{
    position: relative;
    width: 150px;
    height: 150px;
}

.p_container .p_percent svg{
    position: relative;
    width:  150px;
    height: 150px;
}

.p_container .p_percent svg circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 5;
    stroke: rgb(163, 142, 21);
    transform: translate(5px, 5px);
    stroke-dasharray: 440 ;
    stroke-dashoffset:440 ;
}

.p_container .p_percent svg circle:nth-child(1)
{
    stroke-dashoffset: 0;
    stroke: transparent;
}

.p_container .p_percent svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 90)/100);
    stroke: rgb(163, 142, 21);
}

.p_container .p_percent .p_number{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

#percent_txt{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

#progress_txt{
    color: white;
    position: absolute;
    top: 160px;
    left: 20px;
    font-size: 90%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p_container2{
    position: absolute;
    left: 250px;
    top: 0px;
}

.p_container3{
    position: absolute;
    left: 500px;
    top: 0px;
}

.p_container4{
    position: absolute;
    left: 750px;
    top: 0px;
}




/*Testimonials page*/

.testimonials{
    position: absolute;
    width: 1520px;
    top: 4500px;
    text-align: center;
}

.messagebox{
    position: relative;
    top: 130px;
    left: 200px;
}

.messagebox1{
    border: 8px solid rgb(231, 229, 229);
    width: 470px;
    font-style: italic;
    height: 150px;
    text-align: center;
}

#message1{
    font-size: 120%;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(54, 54, 54);
}

.messagebox2{
    position: absolute;
    top: 0px;
    left: 600px;
    border: 8px solid rgb(231, 229, 229);
    width: 470px;
    font-style: italic;
    height: 150px;
    text-align: center;
}

.person_img{
    position: absolute;
    top: 180px;
    left: 20px;
}

#person1{
    width: 72px;
    height: 70px;
    border-radius: 50%;
}

.testi_txt1{
    width: 150px;
    position: absolute;
    top: 20px;
    left: 70px;
}

#person_profession{
    color: rgb(163, 142, 21);
    font-size: 90%;
}

.person2{
    position: absolute;
    top: 0px;
    left: 600px;
}




/* Employee page */

.employee{
    width: 1520;
    position: absolute;
    top: 5120px;
    left: 0px;
}

.border_employee1{
    border: solid rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
    width: 850px;
    height: 400px;
}

.border_employee2{
    position: absolute;
    top: 0px;
    left: 850px;
    width: 720px;
    height: 600px;
    border: solid rgb(243, 239, 240);
    background-color: rgb(243, 239, 240);
}

.employee_text{
    position: absolute;
    top: 120px;
    left: 200px;
    width: 450px;
}

.emp_button{
    position: relative;
    top: 25px;
}

#emp_but1{
    width: 75px;
    height: 55px;
    border: solid rgb(221, 203, 208);
    background-color: rgb(221, 203, 208);
}

#emp_but1:hover{
    border:rgb(243, 168, 97) ;
    background-color: rgb(243, 168, 97);
}
.employee_img{
    position: absolute;
    top: 120px;
    left: 700px;
    width: 820px;
}

.employee_img1{
    width: 250px;
}

#emp_img1{
    width: 250px;
    height: 283px;
}

.employee_img2{
    position: absolute;
    top: 0px;
    left: 280px;
    text-align: center;

}
.employee_img3{
  position: absolute;
  top: 0px;
  left: 560px;
  text-align: center;
}


#emp_logo{
    height: 20px;
    width: 20px;
    padding-bottom: 10px;
}

.onhover{
    position: absolute;
    top: 0px;
    width: 30px;
    height: 180px;
    border: white;
    background: white;
    opacity: 0;
    transition: opacity .35s ease;
}

.logo_onhover{
    position: relative;
    top: 30px;
}

.employee_img1:hover .onhover{
    opacity: 1;
}

.employee_img2:hover .onhover{
    opacity: 1;
}

.employee_img3:hover .onhover{
    opacity: 1;
}

#emp_img1:hover{
    filter: brightness(50%);
}

#emp_img_text1{
    text-align: center;
    position: relative;
    top: 20px;
}

#img_txt_2nd{

    color: gray;
    position: relative;
    top: -10px;
}




/* News page */

.news{
    position: absolute;
    top: 5700px;
    width: 1520px;
}

.news_content{
    position: relative;
    top: 120px;
    left: 200px;

}

.news1{
    display: block;
    overflow: hidden;
    width: 340px;
}

.news1 img{
    width: 340px;
    height: 240px;
    transition: all .3s;
    transform: scale(1);
}

.news1:hover img{
    transform: scale(1.1);
}

.news_border{
    position: absolute;
    top: 205px;
    left: 30px;
    width: 310px;
    border: white;
    background: white;
}

.news_text{
    position: relative;
    top: 35px;
    left: 30px;
}

#news_txt1{
    color: grey;
    font-size: 80%;
}

#news_txt2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}

#news_readmore{
    text-decoration: underline;
    font-size: 85%;
    color:  rgb(163, 142, 21) ;
}

#news_readmore:hover{
    text-decoration: none;
}

.news2{
    position: absolute;
    top: 0px;
    left: 370px;
    display: block;
    overflow: hidden;
    width: 340px;
    height: 500px;
}


.news2 img{
    width: 340px;
    height: 240px;
    transition: all .3s;
    transform: scale(1);
}

.news2:hover img{
    transform: scale(1.1);
}


.news3{
    position: absolute;
    top: 0px;
    left: 740px;
    display: block;
    overflow: hidden;
    width: 340px;
    height: 500px;
}


.news3 img{
    width: 340px;
    height: 240px;
    transition: all .3s;
    transform: scale(1);
}

.news3:hover img{
    transform: scale(1.1);
}


/*contactus page*/

.contact_us{
    position: absolute;
    top: 6450px;
    left: 0px;
    
}

#cloudy{
    position: absolute;
    top: 60px;
}
.map{
    position: absolute;
    top: 60px;
    left: 460px;
}

.contactform{
    position: absolute;
    top: 0px;
    left: 250px;
    border: 8px solid rgb(248, 246, 246);
    background: white;
    width: 450px;
    height: 680px;
}

.contact_form{
    position: absolute;
    top: 55px;
    left: 25px;
}

#contact_h{
    color: rgb(163, 142, 21);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#contact_b{
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    font-weight: 500;
    position: relative;
    top: -15px;
}

#contactname{
    width: 375px;
    height: 50px;
    font-size: 100%;
    border: rgb(248, 246, 246);
    background: rgb(248, 246, 246);
    outline: none;
    padding: 0px 15px;
}

#contactemail{
    position: relative;
    top: 20px;
    width: 375px;
    height: 50px;
    font-size: 100%;
    border: rgb(248, 246, 246);
    background: rgb(248, 246, 246);
    outline: none;
    padding: 0px 15px;
}

#contactmsg{
    position: relative;
    top: 40px;
    width: 375px;
    font-size: 100%;
    border: rgb(248, 246, 246);
    background: rgb(248, 246, 246);
    outline: none;
    padding: 15px 15px;
    padding-bottom: 150px;
}

#c_sendmsg{
    position: relative;
    top: 100px;
    height: 50px;
    border: 1px solid rgb(163, 142, 21);
    background-color: rgb(163, 142, 21);
    color: white;
}

#c_sendmsg:hover{
    background-color: white;
    color: rgb(163, 142, 21);
}




/*For Footer*/

.footer{
    position: absolute;
    top: 7190px;
    left: 0px;
    border: rgb(34, 34, 51);
    background: rgb(34, 34, 51);
    width: 1520px;
    height: 460px;
}

.footer_content{
    position: absolute;
    top: 50px;
    left: 200px;
    width: 1200px;
}

#footer_logo{
    filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(97%);
    width: 160px;
}

.footer_txt1{
    position: absolute;
    top: 110px;
    width: 280px;
    color: gray;
    font-size: 90%;
    line-height: 25px;
}

.footer_logo2{
    position: absolute;
    top: 230px;
    width: 200px;
}

#logo_fot{
    width: 15px;
    height: 15px;
    border: 1px solid rgb(212, 199, 131);
    border-radius: 50%;
    padding: 12px;
    filter: invert(100%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

#logo_fot:hover{
    border: solid rgb(80, 67, 1);
}

.useful_links{
    position: absolute;
    top: 60px;
    left: 350px;
}

#use_link{
    font-size: 85%;
    color:  rgb(163, 142, 21) ;
}

#links{
    color: white;
    font-size: 82%;
    line-height: 25px;
}

.call_us{
    position: absolute;
    top: 60px;
    left: 530px;
}

.call{
    border-bottom: 1px solid rgb(163, 142, 21);
    width: 180px;
}

#call_us{
    font-size: 85%;
    color:  rgb(163, 142, 21) ;
}

#footer_txt2{
    color: grey;
    font-size: 88%;
    line-height: 25px;
}

.write{
    position: absolute;
    top: 60px;
    left: 750px;
}

.visit{
    position:absolute;
    top: 60px;
    left: 970px;
}

.last_txt{
    position: absolute;
    left: 0px;
    top: 380px;
    width: 1520px;
    border-top: 1px solid rgb(163, 142, 21);
}

.last_txt1{
    position: relative;
    left: 200px;
    top: 10px;
}

.last_txt2{
    position: absolute;
    top: 10px;
    left: 1200px;
}

.last_button{
   position: absolute;
   top: 0px;
   left: 1450px;
}

#last_button{
    text-decoration: none;
    text-align: center;
}

#last_but{
    border: 1px solid rgb(163, 142, 21);
    border-radius: 50%;
    color: rgb(163, 142, 21);
    width: 30px;
    height: 30px;
    padding: 5px;
}
